:root {
  --primary-color: #880d1e;
  --contrast-color: white;
  --font: "Allan"
}

#title {
  color: var(--contrast-color);
  margin: 20px;
  text-align: center;
  font-family: var(--font)
}

.display-2 {
  color: var(--primary-color);
  font-family: var(--font)
}

.header {
  display: grid;
  margin: auto;
  background: var(--primary-color);
  background-position: center;
}

#aboutMe {
  border-style: solid;
  border-radius: 10px;
  border-color: var(--contrast-color);
  background-color: var(--contrast-color);
  padding: 50px;
}

footer {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

#email,
#linkedin {
  max-width: 25px;
  max-height: 25px;
}

#pie {
  color: var(--contrast-color);
}

a:hover {
  cursor: pointer;
}

#submit {
  background-color: var(--primary-color);
  border-color: var(--contrast-color);
}