#title {
  color: white;
  margin: auto
}

.header {
  display: grid;
  margin: auto;
  background: #2A363B;
  background-position: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  background-color: #2A363B;
}

.img-responsive {
  width: 300px;
  /* Set your desired image width */
  height: 300px;
  /* Set your desired image height */
  object-fit: cover;
  /* Ensures the image covers the column while maintaining aspect ratio */
}

.column {
  display: flex;
  align-items: center;
  /* Vertically center content */
  justify-content: center;
  /* Horizontally center content */
}

#email,
#linkedin {
  max-width: 25px;
  max-height: 25px;
}

a:hover {
  cursor: pointer;
}

/* * {
  border-color: red;
  border-style: solid;
} */